{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'volunteers/styles/style.css' %}">
</head>

<body>
    <div class="container-fluid logogroup">
        <div class="headlogo container pt-3 pb-3 mb-3">
            {% comment %} <div class="txt">
                <H1 class="textwhite" style="text-transform: uppercase">Jonathan House</H1>
            </div> {% endcomment %}
            <div class=" logo pt-1 pb-1">
                <img src="{% static 'volunteers/img/logo/logo.png' %}" alt="jh_logo">
            </div>
        </div>
    </div>

     <div class="container pt-3">
        <ul class="nav justify-content-end ">
            <li class="nav-item">
                <h4> Hello, {{ user.username }}
                </h4>
            </li> <br>
            <li class="nav-item ml-4 ">
                <p><a class="btn btn-success btn-sm" href="#">Logout</a></p>
            </li>
        </ul>
        <hr>
    </div>

    <div class="container heading_all pt-3 pb-3">
        <h1>
            {% block heading %}

            {% endblock heading %}
        </h1>
    </div>
  
    {% block body %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>