{% extends 'volunteers/base.html' %}

{% comment %}

Ideas for the user interface;
______________________________________

https://stackoverflow.com/users/edit/10959788
https://github.com/contact/privacy

{% endcomment %}

{% block title %}
Filling Volunteer Forms
{% endblock title %}
<hr>


{% block heading %}

<h1 class="txt_instruct">Jonathan Volunteer Applications Form</h1>
{% endblock heading %}



{% block body %}

<div class="container pt-4">
    <h5 class="float-right">Application progress: 1/8 completed...</h5><br>
</div>
<br>

<div class="container tabContainer ">
    <nav class="navbtn">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" role="tab"
                aria-controls="nav-profile" aria-selected="true" href="#nav-profile">
                Profile </a>

            <a class="nav-item nav-link" id="nav-emmergency-tab" data-toggle="tab" href="#nav-emmergency" role="tab"
                aria-controls="nav-emmergency" aria-selected="false">Emmergency
            </a>

            <a class="nav-item nav-link" id="nav-lang-tab" data-toggle="tab" href="#nav-lang" role="tab"
                aria-controls="nav-lang" aria-selected="false">Language </a>

            <a class="nav-item nav-link" id="nav-interest-tab" data-toggle="tab" href="#nav-interest" role="tab"
                aria-controls="nav-interest" aria-selected="false">Interest
            </a>

            <a class="nav-item nav-link" id="nav-event-tab" data-toggle="tab" href="#nav-event" role="tab"
                aria-controls="nav-event" aria-selected="false">Events
            </a>

            <a class="nav-item nav-link" id="nav-orgs-tab" data-toggle="tab" href="#nav-orgs" role="tab"
                aria-controls="nav-orgs" aria-selected="false">Organizations
            </a>

            <a class="nav-item nav-link" id="nav-training-tab" data-toggle="tab" href="#nav-training" role="tab"
                aria-controls="nav-training" aria-selected="false">Trainings
            </a>

            <a class="nav-item nav-link" id="nav-roles-tab" data-toggle="tab" href="#nav-roles" role="tab"
                aria-controls="nav-roles" aria-selected="false">Roles
            </a>

        </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-home-tab">
            <H1>Personal Informations</H1>
            <div class="navigate float-right pb-5">
                {% comment %} <a class="btn btn-primary" href="#">
                    Back
                </a> {% endcomment %}
                <a class="btn btn-primary" href=" #nav-emmergency">
                    Next
                </a>
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">

                    {% csrf_token %}
                    {{ volunteer_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                </form>
            </div>

        </div>

        <div class="tab-pane fade" id="nav-emmergency" role="tabpanel" aria-labelledby="nav-emmergency-tab">
            <H1>Volunteer Emmergency Contact</H1>
            <div class="navigate float-right pb-5">
                <a class="btn btn-primary" href="#">
                    Back
                </a>
                <a class="btn btn-primary" href="#">
                    Next
                </a>
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ VolEContact_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                </form>
            </div>

        </div>

        <div class="tab-pane fade" id="nav-lang" role="tabpanel" aria-labelledby="nav-lang-tab">
            <h1>Language Proficency</h1>
            <div class="navigate float-right pb-5">
                <a class="btn btn-primary" href="#">
                    Back
                </a>
                <a class="btn btn-primary" href="#">
                    Next
                </a>
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ lang_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                </form>
            </div>

        </div>


        <div class="tab-pane fade" id="nav-interest" role="tabpanel" aria-labelledby="nav-interest-tab">
            <h1>Interest</h1>
            <div class="navigate float-right pb-5">
                <a class="btn btn-primary" href="#">
                    Back
                </a>
                <a class="btn btn-primary" href="#">
                    Next
                </a>
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ interest_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                </form>
            </div>

            <br><br><br>
            <br><br><br>
            <br><br><br>
            <br><br><br>

        </div>

        <div class="tab-pane fade" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
            <H1>Events</H1>
            <div class="navigate float-right pb-5">
                <a class="btn btn-primary" href="#">
                    Back
                </a>
                <a class="btn btn-primary" href="#">
                    Next
                </a>
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ event_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                </form>
            </div>


        </div>

        <div class="tab-pane fade" id="nav-orgs" role="tabpanel" aria-labelledby="nav-orgs-tab">
            <H1>Organizations Associations</H1>
            <div class="navigate float-right pb-5">
                <a class="btn btn-primary" href="#">
                    Back
                </a>
                <a class="btn btn-primary" href="#">
                    Next
                </a>
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ org_assocition.as_p }}
                    <button type="submit" class="btn btn-primary">Save & Continue</button>
                </form>
            </div>
            <br><br><br>
            <br><br><br>
            <br><br><br>
            <br><br><br>
        </div>

        <div class="tab-pane fade" id="nav-training" role="tabpanel" aria-labelledby="nav-training-tab">
            <H1>Trainings</H1>
            <div class="navigate float-right pb-5">
                <a class="btn btn-primary" href="#">
                    Back
                </a>
                <a class="btn btn-primary" href="#">
                    Next
                </a>
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ traing_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-roles" role="tabpanel" aria-labelledby="nav-roles-tab">
            <H1>Roles</H1>
            <div class="navigate float-right pb-5">
                <a class="btn btn-primary" href="#">
                    Back
                </a>
                {% comment %} <a class="btn btn-primary" href="#">
                    Next
                </a> {% endcomment %}
            </div>

            <div class="form">
                <br>
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ role_form.as_p }}

                    <button type="submit" class="btn btn-primary">Save and Continue</button>
                </form>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
            </div>
        </div>
    </div>
</div> {% endblock body %}
