

img {
    max-width: 10%;
}

.logogroup{
    background:rgba(7, 141, 52, 0.829);
   
}

.textwhite{
    color: black;
}

.txt_instruct{
    color: rgb(255, 255, 255);
}

.heading_all{
    background:rgb(163, 46, 46);
}

.logo{
    text-align: left;
}
